.custom-item-gen > div{
  display:flex;
  justify-content: space-between;
  padding:5px;
  border-bottom:var(--border);
}
.custom-item-gen > div:last-child{
  border-bottom:none;
}

.custom-item-gen{
  border:var(--border);
  padding:4px 4px 2rem 4px;
  border-radius:5px;
  overflow: scroll;
  scrollbar-width: none;
  
}
.custom-item-gen > div span:first-child{
  font-weight:500;
}
.custom-item-input-cont select{
  width:25%
}
.custom-item-input-cont button{
  width:20%
}
.name-custom{
  display:flex;
  flex-direction:column;
  width:34%;
  position: relative;
  
}
.price-custom{
  display:flex;
  flex-direction:column;
  width:21%;
  position: relative;
}
.price-custom input{
  text-align: center;
  font-size:0.8rem;
}
.name-custom label,.price-custom label{
  font-size:0.6rem;
  position:absolute;
  top:-0.3rem;
  left:0.2rem;
  z-index:1
}
.custom-item-category{
  font-size:0.65rem;
  font-weight:500;
  border-radius:3px;
  background:hwb(34 0% 13%);
  text-align: center;
  padding:1px 2px;
  margin-top:3px;
}
.custom-item-details{
  display:flex;
  font-size:0.6rem;
  align-items: center;
  gap:1rem;
}
.custom-item-details p:last-child{
  color:var(--text-blur);
}