.items{
  display:flex;
  flex-direction: column;
  border:1px solid #2a2f3a;
  height:100vh;
  max-height:505px;
  margin-left:20px;
  margin-right:20px;
  margin-top:36px;
  background:hwb(214 6% 88%);
  border-radius:6px;
  position:relative;
  padding-top:18px
}
.items-scrollable{
  overflow: scroll;
  scrollbar-width:none;
}
.items > div:first-child{
  font-size:0.8rem;
  font-weight:600;
  position:absolute;
  right:0;
  top:0;
  left:0;
  display:flex;
  padding:5px;
  justify-content: space-between;
  background:hwb(214 6% 88%);
}
.item-gen{
  border:0.5px solid white;
  margin:5px 15px;
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius:6px;
  border: 1px solid #2a2f3a;
  background:hwb(218 10% 83%);
}
.item-name{
  flex-grow:1;
  margin:8px 5px;
}
.item-name span{
  font-size:0.6rem;
  margin-left:0.2rem;
  color:#8b93a3;
  padding:3px 5px;
  border-radius:3px;
}
.item-name .item-price-calc{
  background:#23262e;
}
.item-name div{
  margin:0.1rem 0.2rem;
  font-weight:500;
}
.item-date{
  margin:8px 15px 0px 15px;
  font-size:0.8rem;
  display:flex;
  gap:0.5rem;
  color:#adb2ba;
}
.item-date div{
  font-size:0.7rem;
}
.item-total-price{
  font-size:1.1rem;
  margin-right:5px;
  font-weight:600;
  display:flex;
  align-items:center;
}

.expanded-btn-cont{
  overflow:hidden;
}
.item-arrow-cont{
  display:flex;
  align-items:center;
}
.arrow-btn-expanded{
  color:white;
  width:16px;
  height:25px;
}
.expanded-btn{
  height:100%;
  background:hwb(39 1% 13%);
  border:none;
  overflow:hidden;
  border-right: 1px solid #2a2f3a;
  border-left: 1px solid #2a2f3a;
  padding-left:13px;
  padding-right:13px
}

.expanded-btn-cont .expanded-btn:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dropdown-arrow{
  height:18px;
  width:18px;
  
}
.month-year-cont{
  display:flex;
  align-items:center;
  gap:2px;
}
