.date-year-month-cont{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:0.5rem 0 0 0;
}
.arrow-btn{
  height:26px;
  width:35px;
}
.arrow-btn-cont{
  background:#4f8cff;
  border-radius:50%;
  padding:6px 2px;
  border:none;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto 8px;
}
.date-year-name div:first-child{
  font-size:32px;
  font-weight: 600;
}