.floating-btn{
  display:flex;
  justify-content: end;
  position:fixed;
  bottom:10px;
  right:3px;
  z-index:160;
}
.floating-btn button{
  margin-bottom:0.4rem;
  margin-right:5px;
  border-radius:50%;
  border:none;
  min-width:57px;
  min-height:60px;
  font-size:2rem;
  display:flex;
  align-items: center;
  justify-content:center;
  background:#4f8cff;
  color:white;
  font-weight:1000;
  box-shadow:1px -1px 8px rgba(0,0,0,0.35)
}