.form-cont{
  border:1px solid white;
  margin-top:5px;
  padding:14px 0 14px 14px;
  height:100vh;
  max-height: 350px;
  position:fixed;
  right:0;
  left:0;
  bottom:0;
  border: 1px solid #2a2f3a;
  border-bottom:1px solid #2a2f3a;
  overflow:scroll;
  scrollbar-width: none;
  border-radius:10px;
  border-bottom:none;
  background:hwb(214 6% 88%);
  z-index:160;
}
.form{
  display:flex;
  flex-direction: column;
  margin-bottom:0.5rem;
}
.label{
  font-size:12px;
  margin:0.1rem;
  font-weight:500;
  color:#adb2ba;
}
.more-form{
  width:95%;
  
}
.form-input-name{
  width:100%;
  position:relative;
}
.form-name{
  width:95%;
}
.form-input-name-cont{
  position:relative;
  width:100%;
  display:flex;
  align-items:center;
}
.item-pick-arrow{
  color:white‌;
}
.pick-item-container{
  position:absolute;
  right:5px;
  display:flex;
  top:0.6rem;
}
.pick-item-generated > div > div span{
  font-size:0.5rem;
}
.pick-item-generated > div > span{
  font-size:0.8rem;
  font-weight:500;
}
.pick-item-generated > div{
  background:rgb(15,22,31);
  padding:5px 10px;
  border-bottom:1px dotted #2a2f3a;
}
.pick-item-generated > div:last-child{
  border:none;
}
.pick-item-generated{
  background:rgb(15,22,31);
  border:var(--border);
  border-radius:5px;
  overflow:hidden;
}
.pick-item-gen-description{
  display:flex;
  gap:3px;
  margin-top:3px;
  color:var(--text-blur)
}
.pick-item-gen-description span:first-child{
  background:rgb(222,126,0);
  color:white;
  border-radius:3px;
  padding:2px 5px;
}
.pick-item-gen-description span:last-child{
  padding:2px 5px;
}
.form-input{
  padding:13px 10px;
  font-size:0.9rem;
  border:none;
  border-radius:5px;
  color:white;
  background:hwb(218 10% 83%);
  border: 1px solid #2a2f3a;
  width:100%;
}

.form-price{
  width:95%;
  display:flex;
  
}
.form-price .form-row:first-child{
  width:60%;
  margin-right:6px;
}
.form-price .form-row:last-child{
  width:40%;
}
.form-btns{
  display:flex;
  flex-direction:column;
  width:95%;
  gap:5px
}
.form-btns button:first-child{
  background:hwb(217 7% 88%);
  border: 1px solid #2a2f3a;
  color:white;
  font-size:1rem;
  font-weight:600;
  border-radius:5px;
  padding:4px;
}
.form-btns button:last-child{
  background:#4f8cff;
  border:none;
  color:white;
  font-size:1rem;
  font-weight:600;
  border-radius:5px;
  padding:10px;
}
.form-date{
  width:60%;
}
.form-time{
  width:40%;
}
.more-form-input{
  width:100%;
  text-align:center;
}
.form-quantity-input-cont{
  display:flex;
  align-items:center;
  gap:3px;
}
.form-quan-btn{
  background:#4f8cff;
  border:none;
  color:white;
  border-radius:30%;
  padding:13px;
  font-size:1rem;
  font-weight:600;
}
.row-container{
  display:flex;
  width:100%;
  gap:5px;
}
.form-price-each{
  width:60%
}
.form-quantity{
  width:40%;
}