.date{
  display:flex;
  flex-direction:column;
  align-items:center;
  flex-grow: 1;
}
.date-container{
  margin-top:5px;
}
.year{
  font-size:0.6rem;
}
.date-container{
  display:flex;
  justify-content:space-between;
}
.edge-title{
  font-size:0.6rem;
  color:#adb2ba;
}
.item-all-sum{
  color:#ff5c5c;
  font-size:1.3rem;
}
.record-name{
  font-size:1.3rem;
  color:#ff5c5c
}
.current-record-cont,.total-expense{
  display:flex;
  border:1px solid;
}
.arrow-expand-cont{
  display:flex;
  align-items:center;
  border:1px solid;
}
