.floating-btn{
  display:flex;
  justify-content: end;
  position:fixed;
  bottom:0;
  right:0;
  
}
.floating-btn button{
  width:40px;
  height:45px;
  border-radius:50%;
  border:none;
  font-size:2rem;
  display:flex;
  align-items: center;
  justify-content:center;
}