.barrier-items,.barrier,.barrier-form{
  background-color:black;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.barrier{
  z-index:200;
  opacity:0.05;
}
.barrier-items{
  z-index:100;
  opacity:0;
}
.barrier-form{
  z-index:155;
  opacity:0;
}